@model Orders

<h1>Order Confirmation</h1>

<p>Your order (Order ID: @Model.order_id) has been placed successfully!</p>
<p>Payment Method: @Model.pay_method</p>
<p>Order Time: @Model.order_time</p>
<p>Total: @Model.total_price</p>
<p>Status: @Model.status</p>